@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 0px;
}

header{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    background-color: black;
    color: white;
    width: 100%;
    /* position:fixed; */
}

header .logo{
    width: 60px;
    height: 50px;
    padding: 10px;
    text-align:center;
}

header .Titulo-pag{
    text-align: left;
    padding: 10px;
}
nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 1em;
    align-self: center;
}

nav a:hover{
    background-color:#2b3a44 ;
}

.jumbotron{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
    color: white;
    box-shadow: 0px -8px -4px 0px rgba(77, 106, 208,-1);
    width: 100%;
}

#content{
    border-color: #FF6C6C;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    justify-content: center;
    gap: 20px;
}

#content h1{
    font-size: 45px;
    text-align: center;
}

#content p{
    text-align: justify;
    font-size: 18px;
}

#content .producto{
    font-size: 30px;
    text-align: center;
}

#content h3{
    font-size:18px;
    margin: 15px 0;
    text-align: justify;
}

.input-grupo{
    display: flex;
    position: relative;
    padding-top: 15px;
    gap:15px;
}

.input{
    padding: 10px;
    width: 100%;
    /* max-width: max-content; */
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}

.input-correo{
    position: absolute;
    font-style: italic;
    top: -1;
    left: 0;
    transform: translate(10px,10px);
    transition: transform .25s;
}

.input:focus+ .input-correo{
    font-style: normal;
    transform: translate(10px,-10px) scale(.8);
    color: #fff;
    padding-inline: 5px;
    background-color: #242329;
}

.input-grupo button{
    display: flex;
    background-color: #4D6AD0;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.principal img{
    position: relative;
}

.contenedor-galeria{
    background: linear-gradient(220.55deg, #FF9D7E 0%, #4D6AD0 100%);
    padding: 15px;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.6);
    transition: 0.3s;
    font-size: 20px;
}

.card img{
    border-radius: 25px 25px 0 0;
    height: 550px;
    width: 100%;
}

.container{
    padding: 2px 16px;
}


.text-justify{
    text-align: justify;
}
.adicional{
    display: grid;
    padding: 15px;
    background: linear-gradient(-210.55deg, #4D6AD0 0%, #FF8570 100%);
    box-shadow: 0px 8px 4px 0px rgba(77, 106, 208,1);
    font-size: 20px;
}

.pieles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
}

.pieles img{
    height: 300px;
    width: 100%;
}

footer{
    padding: 15px;
    background-color: black;
    color: white;
    height: 100%;
}

.redes-sociales ul{
    position: relative;
    display: flex;
}

.redes-sociales ul li{
    list-style: none;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.redes-sociales ul li .fab{
    font-size: 20px;
    transition: .3s;
    line-height: 30px;
    color: black;
    text-align: center;
}

.redes-sociales ul li .fab:hover{
    color:#fff;
}

.redes-sociales ul li a{
    position:relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(245, 243, 243);
    text-align: center;
    transition: .6s;
}

.redes-sociales ul li a:hover{
    transform: translate(0,-15%);
}

.redes-sociales ul li:nth-child(1) a:hover{
    background-color: rgb(44, 117, 221);
}
.redes-sociales ul li:nth-child(2) a:hover{
    background: linear-gradient(220.55deg, #DD7BFF 0%, #FF6C6C 100%);
}
.redes-sociales ul li:nth-child(3) a:hover{
    background-color: rgb(18, 140, 102);
}
.redes-sociales ul li:nth-child(4) a:hover{
    background-color: rgb(0,0,0);
}


@media screen and (max-width: 800px) {

    nav{
        justify-content: space-between;
        width: relative;
    }

    nav a{
        text-align: center;
        padding: 10px;
    }

    .jumbotron{
        display: flex;
        flex-direction: column-reverse;
    }

    .principal img{
        align-items: center;
        justify-content: center;
        height: 300px;
    }

    .galeria{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        padding: 15px;
    }

    .card img{
        border-radius: 25px 25px 0 0;
        height: 300px;
        width: auto;
    }

    .pieles{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-top: 15px;
        align-items: center;
        justify-content: center;
    }

    .pieles img{
        height: 300px;
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    header{
        display: flex;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    header .logo{
        display: block;
        margin:auto;
        align-items: center;
        width:80px;
        height: 70px;
        object-fit: cover;
    }

    header .Titulo-pag{
        text-align: center;
    }

    nav{
        flex-direction: column;
        width: relative;
    }

    nav a{
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .jumbotron{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .principal img{
        align-items: center;
        justify-content: center;
        height: 300px;
    }

    .galeria{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 15px;
    }

    .card img{
        border-radius: 25px 25px 0 0;
        height: 400px;
        width: auto;
    }

    .pieles{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-top: 15px;
        align-items: center;
        justify-content: center;
    }

    .pieles img{
        height: auto;
        width: 100%;
    }
}