@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 0px;
}

header{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    background-color: black;
    color: white;
    width: 100%;
    /* position:fixed; */
}

header .logo{
    width: 60px;
    height: 50px;
    padding: 10px;
    text-align:center;
}

header .Titulo-pag{
    text-align: left;
    padding: 10px;
}
nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 1em;
    align-self: center;
}

nav a:hover{
    background-color:#2b3a44 ;
}

.jumbotron{
    display: grid;
    grid-template-columns: 1.5fr 0.4fr;
    height: 300px;
    gap: 15px;
    background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
    color: white;
    /* border: red 5px solid; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.6); */
}

#content{
    border-color: #FF6C6C;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 20px;
}

aside .principal{
    width:250px
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.6);
    transition: 0.3s;
}

.card img{
    border-radius: 25px 25px 0 0;
    height: 450px;
    width: 100%;
}

.container{
    padding: 2px 16px;
}

.contenedor-galeria{
    background: linear-gradient(220.55deg, #FF9D7E 0%, #4D6AD0 100%);
    padding: 15px;
}
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.text-justify{
    text-align: justify;
}
.adicional{
    display: grid;
    padding: 15px;
    background: linear-gradient(-210.55deg, #4D6AD0 0%, #FF8570 100%);
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0,1);
}

.pieles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
}

.pieles img{
    height: 300px;
    width: 100%;
}

footer{
    padding: 15px;
    background-color: black;
    color: white;
    height: 100%;
}

.redes-sociales ul{
    position: relative;
    display: flex;
}

.redes-sociales ul li{
    list-style: none;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.redes-sociales ul li .fab{
    font-size: 20px;
    transition: .3s;
    line-height: 30px;
    color: black;
    text-align: center;
}

.redes-sociales ul li .fab:hover{
    color:#fff;
}

.redes-sociales ul li a{
    position:relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(245, 243, 243);
    text-align: center;
    transition: .6s;
}

.redes-sociales ul li a:hover{
    transform: translate(0,-15%);
}

.redes-sociales ul li:nth-child(1) a:hover{
    background-color: rgb(44, 117, 221);
}
.redes-sociales ul li:nth-child(2) a:hover{
    background: linear-gradient(220.55deg, #DD7BFF 0%, #FF6C6C 100%);
}
.redes-sociales ul li:nth-child(3) a:hover{
    background-color: rgb(18, 140, 102);
}
.redes-sociales ul li:nth-child(4) a:hover{
    background-color: rgb(0,0,0);
}


@media screen and (max-width: 800px) {

    nav{

        justify-content: space-between;
        width: relative;
    }

    nav a{
        text-align: center;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    header{
        display: flex;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    header .logo{
        display: block;
        margin:auto;
        align-items: center;
        width:80px;
        height: 70px;
        object-fit: cover;
    }

    header .Titulo-pag{
        text-align: center;
    }

    nav{
        flex-direction: column;
        width: relative;
    }

    nav a{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}